trigger:
- main

pool:
  vmImage: windows-latest

variables:
  buildConfiguration: Release

steps:
# Install .NET 8 SDK
- task: UseDotNet@2
  inputs:
    packageType: sdk
    version: 10.0.x

# Restore packages
- script: dotnet restore
  displayName: Restore

# Build
- script: dotnet build --configuration $(buildConfiguration) --no-restore
  displayName: Build

# Publish (creates compiled output)
- script: dotnet publish --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
  displayName: Publish

# Upload artifact
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: $(Build.ArtifactStagingDirectory)
    ArtifactName: drop
    publishLocation: Container
