trigger:
- main

variables:
  buildConfiguration: Release

stages:

# =========================
# BUILD STAGE
# =========================
- stage: Build
  jobs:
  - job: BuildJob
    pool:
      name: Default

    steps:
    - task: UseDotNet@2
      inputs:
        packageType: sdk
        version: 10.0.x

    - script: dotnet restore
      displayName: Restore

    - script: dotnet build --configuration $(buildConfiguration) --no-restore
      displayName: Build

    - script: dotnet publish --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)
      displayName: Publish

    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: $(Build.ArtifactStagingDirectory)
        ArtifactName: drop

# =========================
# DEPLOY STAGE
# =========================
- stage: Deploy
  dependsOn: Build
  jobs:
  - job: DeployJob
    pool:
      vmImage: windows-latest

    steps:
    - task: DownloadBuildArtifacts@0
      inputs:
        artifactName: drop
        downloadPath: $(System.ArtifactsDirectory)

    - task: AzureWebApp@1
      inputs:
        azureSubscription: learnappservice
        appName: blazorcrud-demo-app
        package: $(System.ArtifactsDirectory)/drop
