trigger:
  - main

variables:
  imageName: blazorcrud
  tag: latest

stages:
  # =========================
  # BUILD & PUSH IMAGE
  # =========================
  - stage: BuildAndPush
    jobs:
      - job: DockerBuild
        pool:
          name: Default

        steps:
          - task: Docker@2
            inputs:
              command: buildAndPush
              repository: ghcr.io/paawanx/$(imageName)
              dockerfile: dockerfile
              containerRegistry: ghcr-github-LearnAppService
              tags: |
                $(tag)
              arguments: --platform linux/amd64

  # =========================
  # DEPLOY CONTAINER
  # =========================
  - stage: Deploy
    dependsOn: BuildAndPush
    jobs:
      - job: DeployJob
        pool:
          name: Default

        steps:
          - task: AzureWebAppContainer@1
            inputs:
              azureSubscription: scn-LearnAppService
              appName: LearnAppService
              containers: ghcr.io/paawanx/$(imageName):$(tag)
