trigger:
  - main

variables:
  imageName: blazorcrud
  tag: latest

stages:
  # =========================
  # BUILD & PUSH IMAGE
  # =========================
  - stage: BuildAndPush
    jobs:
      - job: DockerBuild
        pool:
          name: Default

        steps:
          - script: |
              docker buildx create --use --name mybuilder || true
              docker buildx inspect --bootstrap

              docker login ghcr.io -u $(GHCR_USERNAME) -p $(GHCR_PAT)

              docker buildx build \
                --platform linux/amd64 \
                -t ghcr.io/$(GHCR_USERNAME)/blazorcrud:latest \
                --push .
            displayName: Build and Push AMD64 Image


  # =========================
  # DEPLOY CONTAINER
  # =========================
  - stage: Deploy
    dependsOn: BuildAndPush
    jobs:
      - job: DeployJob
        pool:
          name: Default

        steps:
          - task: AzureWebAppContainer@1
            inputs:
              azureSubscription: scn-LearnAppService
              appName: LearnAppService
              containers: ghcr.io/paawanx/$(imageName):$(tag)
